WaterApp/*.iml
WaterApp/.gradle
WaterApp/local.properties
WaterApp/.idea/workspace.xml
WaterApp/.idea/libraries
WaterApp/.DS_Store
WaterApp/build
WaterApp/captures
WaterApp/externalNativeBuild
WaterApp/app/google-services.json
