<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nasasurvivors.water.app.waterapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AQUA"
        android:supportsRtl="true"
        android:theme="@style/NasaTheme">
        <activity
            android:name=".controller.RegistrationActivity"
            android:label="REGISTRATION"
            android:parentActivityName=".controller.LoginActivity" />
        <activity
            android:name=".controller.LoginActivity"
            android:label="AQUA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:label="DASHBOARD" />
        <activity
            android:name=".controller.EditProfileActivity"
            android:label="EDIT PROFILE"
            android:parentActivityName=".controller.MainActivity"></activity>
        <activity
            android:name=".controller.WaterReportActivity"
            android:label="WATER REPORT"
            android:parentActivityName=".controller.MainActivity"></activity>
        <activity android:name=".controller.ViewReportsActivity"
            android:label="VIEW REPORTS"
            android:parentActivityName=".controller.MainActivity"></activity>
    </application>

</manifest>